#space-gallery {
	width: 100%;
	height: 300px;
}
#space-gallery img {
	border: 2px solid #52697E;
}
.spacegallery {
	position: relative;
	overflow: hidden;
}
.spacegallery img {
	position: absolute;
	left: 50%;
}
.spacegallery a {
	position: absolute;
	z-index: 1000;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(../images/blank.gif);
}

a.loading {
	background: #fff url(../images/ajax_small.gif) no-repeat center;
}